
.btn {
    font-family: sans-serif;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background: #FF9999;
}; 


/* трошки додав стилів, щоб не забувати хоча б як це робиться, а то вже давно цим займався :) */